.counter {
	background-color: var(--global-inverse-background);
}
.layout-counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.layout-counter > .layout-item:first-child {
	display: flex;
	justify-content: center;
}
.counter-overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 10px;	
}
.counter-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px solid #ffe600;
	max-width: 270px;
	max-height: 140px;
	width: 25%;
}
.counter-item > h2 {
	margin-bottom: 0;
}
.counter-item > p {
	color: #ffe600;
	font-weight: 400;
	font-family: inherit;
}
#counter {
	font-family: Oswald;
}
@media screen and (max-width: 950px) {
	.counter-overlay {
		flex-wrap: wrap;
		justify-content: center;
	}
	.counter-overlay > .counter-item {
		width: 50%;
		margin-right: 20px;
		margin-bottom: 20px;
	}
		
}