.layout-favourits {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.layout-favourits > .layout-item:first-child {
	display: flex;
	justify-content: center;
}
.heading {
	text-align: center;
	max-width: 950px;
}
.separator {
	/* border-bottom: 2px solid #ffe600; */
	width: 171px;
	margin-right: auto;
    margin-left: auto;
}
.grid-favourits {
	display: flex;
	align-items: flex-start;
	padding: 50px 0 0 0;
}
.grid-favourits > .grid-item {
	padding: 0 30px 0 0;
}
.grid-favourits > .grid-item:last-child {
	padding: 0;
}
.card-favourits {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.favourits-card-icon {
	border: 1px solid #ffe600;
	width: 108px;
	height: 108px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffe600;
	font-size: 35px;
	margin-bottom: 22px;
}
.favourits-card-icon > span {
	color: #fff;
}
.favourits-card-icon:hover {
	border: 1px solid #202023;
	background-color: transparent;
}
.favourits-card-icon:hover > span {
	color: #ffe600;
}
.favourits-card-icon:focus {
	border: 1px solid #202023;
	background-color: transparent;
	color: #ffe600;
}
.favourits-card-icon:focus > span {
	color: #ffe600;
}
.favourits-card-icon:active {
	border: 1px solid #202023;
	background-color: transparent;
	color: #ffe600;
}
.favourits-card-icon:active > span {
	color: #ffe600;
}
@media screen and (max-width: 950px) {
	.grid-favourits {
		flex-wrap: wrap;
		justify-content: center;
	}
	.grid-favourits > .grid-item {
		width: 50%;
		padding-right: 20px;
	}
	.grid-favourits > .grid-item:last-child {
		padding-right: 20px;
	}
	
}