.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container .container {
  padding-left: 0;
  padding-right: 0
}

.container-expand {
  max-width: none
}
.container-small {
  max-width: 710px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: calc(100vh - 94px);
  display: flex;
}
.container-big {
  max-width: 1920px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
